{% extends '_.html' %}
{% load djangoat %}

{% block body %}
  <h1>Overview</h1>
  The following constants will be referenced in certain examples below:
  <ul>
    <li><b>DATE_FORMAT</b>: "F jS, Y"</li>
    <li><b>TIME_FORMAT</b>: "F jS, Y g:i a"</li>
    <li><b>NUM_DICT</b>: {'one': 1, 'two': 2, 'three': 3}</li>
  </ul>
  The following context variables will be referenced in certain examples below:
  <ul>
    <li><b>posts</b>: a queryset of all posts</li>
  </ul>
  The following DATA functions (registered to djangoat.DATA) will be referenced in certain examples below:
  <ul>
    <li><b>DATA['now']</b>: returns the current time</li>
    <li><b>DATA['cube_func']</b>: cubes ARG1</li>
    <li><b>DATA['power_func']</b>: takes ARG1 to the power of ARG2</li>
    <li><b>DATA['range_func']</b>: creates a range with a length of ARG1</li>
  </ul>
  <br><br>


  <h1>Filters</h1>
  <div class="func">
    <h2><a id="dataf">data</a></h2>
    <div>{% verbatim %}{{ KEY|data:ARG }}{% endverbatim %}</div>
    <p>Here we have the filter version of the <a href="#data">data tag</a>. This filter uses KEY to pull from
      Djangoat's DATA dict (djangoat.DATA), accepting at most one argument, and outputs the result.</p>
    <table class="examples">
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ 'now'|data }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ 'now'|data }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ 'now'|data|date:DATE_FORMAT }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ 'now'|data|date:DATE_FORMAT }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ 'cube_func'|data:2 }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ 'cube_func'|data:2 }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% for r in 'range_func'|data:5 %}{{ r }}! {% endfor %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% for r in 'range_func'|data:5 %}{{ r }}! {% endfor %}</td>
      </tr>
    </table>
  </div>


  <div class="func">
    <h2><a id="get">get</a></h2>
    <div>{% verbatim %}{{ DICT|get:KEY }}{% endverbatim %}</div>
    <p>The following assumes a <span class="mono">variable_key</span> of "two".</p>
    <table class="examples">{% with variable_key='two' %}
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ NUM_DICT.two }} != {{ NUM_DICT.variable_key }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ NUM_DICT.two }} != {{ NUM_DICT.variable_key }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ NUM_DICT.two }} == {{ NUM_DICT|get:variable_key }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ NUM_DICT.two }} == {{ NUM_DICT|get:variable_key }}</td>
      </tr>
    {% endwith %}</table>
  </div>


  <div class="func">
    <h2><a id="thumb_url">thumb_url</a></h2>
    <div>{% verbatim %}{{ FIELD_FILE|thumb_url:KEY }}{% endverbatim %}</div>
    <p>This assumes that we've specified a <span class="mono">get_thumb_url</span> function in the DJANGOAT_SETTINGS
      module (located at demo.djangoat for this project). Because the demo doesn't have a third-party thumb generator
      installed, we just return the original image's url here for display purposes. For non-image files, we'll either
      return the url specified in <span class="mono">THUMB["type_urls"]</span> for this file's mimetype or a default
      url. To change this behavior, simply customize <span class="mono">get_thumb_url</span>.</p>
    <table class="examples">
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ posts_with_images.0.image|thumb_url:'dummy' }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ posts_with_images.0.image|thumb_url:'dummy' }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}&lt;img src="{{ posts_with_images.0.image|thumb_url:'dummy' }}"&gt;{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string"><img src="{{ posts_with_images.0.image|thumb_url:'dummy' }}"></td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ posts_with_images.0.file|thumb_url:'dummy' }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ posts_with_images.0.file|thumb_url:'dummy' }}</td>
      </tr>
    </table>
  </div>


  <div class="func">
    <h2><a id="thumb_html">thumb_html</a></h2>
    <div>{% verbatim %}{{ FIELD_FILE|thumb_html:KEY }}{% endverbatim %}</div>
    <p>This assumes that we've specified a <span class="mono">get_thumb_html</span> function in the DJANGOAT_SETTINGS
      module (located at demo.djangoat for this project). Because the demo doesn't have a third-party thumb generator
      installed, we just return the original image's display html here for display purposes. For non-image files,
      we'll either return the html specified in <span class="mono">THUMB["type_html"]</span> for this file's mimetype
      or a default file display html. To change this behavior, simply customize <span class="mono">get_thumb_html</span>.</p>
    <table class="examples">
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ posts_with_images.0.image|thumb_html:'dummy' }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ posts_with_images.0.image|thumb_html:'dummy' }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ posts_with_images.0.image|thumb_html:'dummy'|safe }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ posts_with_images.0.image|thumb_html:'dummy'|safe }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ posts_with_images.0.file|thumb_html:'dummy' }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ posts_with_images.0.file|thumb_html:'dummy' }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ posts_with_images.0.file|thumb_html:'dummy'|safe }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ posts_with_images.0.file|thumb_html:'dummy'|safe }}</td>
      </tr>
    </table>
  </div>


  <h1>Tags</h1>
  <div class="func">
    <h2><a id="method">method</a></h2>
    <div>{% verbatim %}{% method OBJECT METHOD ARG1 ARG2 ARG3 . . . %}{% endverbatim %}</div>
    <p>Given an OBJECT, this tag allows us to execute a METHOD on this object and pass it any number of arguments.
      The following examples assume a method of "get_byline" on the Post model, whose arguments determine whether
      to display the date / time of the post.</p>
    <table class="examples">
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{{ posts.0.get_byline }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{{ posts.0.get_byline }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% method posts.0 'get_byline' %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% method posts.0 'get_byline' %}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% method posts.0 'get_byline' 1 %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% method posts.0 'get_byline' 1 %}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% method posts.0 'get_byline' 1 1 %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% method posts.0 'get_byline' 1 1 %}</td>
      </tr>
    </table>
  </div>


  <div class="func">
    <h2><a id="data">data</a></h2>
    <div>{% verbatim %}{% data KEY ARG1 ARG2 ARG3 . . . %}{% endverbatim %}</div>
    <p>Here we have the tag version of <a href="#dataf">data filter</a>. This tag uses KEY to pull from Djangoat's
      DATA dict (djangoat.DATA) and is required when accessing a function that requires more than a single argument.</p>
    <table class="examples">
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% data 'now' %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% data 'now' %}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% data 'now' as now %}{{ now|date:DATE_FORMAT }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% data 'now' as now %}{{ now|date:DATE_FORMAT }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% data 'now>' %}{{ now|date:DATE_FORMAT }}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% data 'now>' %}{{ now|date:DATE_FORMAT }}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% data 'power_func' 3 4 %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% data 'power_func' 3 4 %}</td>
      </tr>
    </table>
  </div>


  <div class="func">
    <h2><a id="cache">cache</a>, <a id="usercache">usercache</a>, <a id="sitecache">sitecache</a>, <a id="usersitecache">usersitecache</a></h2>
    <div>{% verbatim %}
      {% cache TIME NAME ARG1 ARG2 . . . %}Cached Content{% endcache %}<br>
      {% usercache TIME NAME ARG1 ARG2 . . . %}Cached Authenticated User Content{% endusercache %}<br>
      {% sitecache TIME NAME ARG1 ARG2 . . . %}Cached Current Site Content{% endsitecache %}<br>
      {% usersitecache TIME NAME ARG1 ARG2 . . . %}Cached Authenticated User Content For The Current Site{% endusersitecache %}<br>
    {% endverbatim %}</div>
    <p>Here we see calls to the cache tag and its variants with the resulting cached content. To clear these
      individually or all at once, visit the <a href="/admin/djangoat/cachefrag/" target="_blank">CacheFrag admin area</a>,
      select the fragments to clear, and select "Clear selected Cache Fragments" from the dropdown. They should update
      on the next page load.</p>
    <table class="examples">
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% cache None cache_test_always %}{{ now|date:TIME_FORMAT }}{% endcache %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% cache None cache_test_always %}{{ now|date:TIME_FORMAT }}{% endcache %}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% cache 1234 cache_test_seconds %}{{ now|date:TIME_FORMAT }}{% endcache %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% cache 1234 cache_test_seconds %}{{ now|date:TIME_FORMAT }}{% endcache %}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% cache '2h30m' cache_test_duration_string %}{{ now|date:TIME_FORMAT }}{% endcache %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% cache '2h30m' cache_test_duration_string %}{{ now|date:TIME_FORMAT }}{% endcache %}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% cache '2h30m' cache_test_args 123 'string' %}{{ now|date:TIME_FORMAT }}{% endcache %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% cache '2h30m' cache_test_args 123 'string' %}{{ now|date:TIME_FORMAT }}{% endcache %}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% usercache '2h30m' cache_test_user 123 'string' %}{{ now|date:TIME_FORMAT }}{% endusercache %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% if request.user.is_authenticated %}{% usercache '2h30m' cache_test_user  123 'string' %}{{ now|date:TIME_FORMAT }}{% endusercache %}{% else %}(<a href="/admin/">SIGNIN REQUIRED</a>){% endif %}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% sitecache '2h30m' cache_test_site 123 'string' %}{{ now|date:TIME_FORMAT }}{% endsitecache %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% sitecache '2h30m' cache_test_site  123 'string' %}{{ now|date:TIME_FORMAT }}{% endsitecache %}</td>
      </tr>
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% usersitecache '2h30m' cache_test_usersite 123 'string' %}{{ now|date:TIME_FORMAT }}{% endusersitecache %}{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">{% if request.user.is_authenticated %}{% usersitecache '2h30m' cache_test_usersite  123 'string' %}{{ now|date:TIME_FORMAT }}{% endusersitecache %}{% else %}(<a href="/admin/">SIGNIN REQUIRED</a>){% endif %}</td>
      </tr>
    </table>
  </div>


  <div class="func">
    <h2><a id="pager">pager</a></h2>
    <div>{% verbatim %}{% pager QUERYSET ITEMS_PER_PAGE PLUS_OR_MINUS %}{% endverbatim %}</div>
    <p>Using the settings in the "djangoat.PAGER" dict, this tag generates a page navigation widget for the provided
      queryset. "Items per page" and "plus or minus" may be adjusted on a per-page basis by supplying these as
      arguments. By following the pager links, a "page" parameter (by default) will be added to the url, and items
      display will adjust accordingly. Note that the pager widget will need to be styled as is appropriate to your site.</p>
    <table class="examples">
      <tr>
        <td><pre><code class="language-django">{% verbatim %}{% pager posts 2 %}  # prep the "pager_queryset" and widget
&lt;h1&gt;Posts&lt;/h1&gt;
&lt;hr&gt;
{% for post in pager_queryset %}
  POST DISPLAY
{% endfor %}
&lt;hr&gt;
{{ pager }}  # the pager widget{% endverbatim %}</code></pre></td>
        <td class="hljs hljs-string">
          <style>
            .dg-pager { text-align: center }
            .dg-pager a { display: inline-block; padding: 2px 5px }
            .dg-pager .active { background: white; border-radius: 5px; color: black; font-weight: bold; text-decoration: none }
            .dg-pager .pages {margin: 7px 0 }
          </style>
          {% pager posts 2 %}
          <h1>Posts</h1><hr>
          {% for post in pager_queryset %}<p><a href="javascript:void(0)">{{ post.title }}</a></p>{% endfor %}
          <hr>{{ pager }}<br>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}